[submodule "catalog"]
	path = catalog
	url = git@github.com:dantyan/django-catalog.git
[submodule "bookmarks"]
	path = bookmarks
	url = git@github.com:dantyan/django-bookmarks.git
[submodule "common"]
	path = common
	url = git@github.com:dantyan/django-common.git
[submodule "guidebook"]
	path = guidebook
	url = git@github.com:dantyan/django-guidebook.git
[submodule "accounts"]
	path = accounts
	url = git@github.com:dantyan/django-accounts.git
[submodule "account"]
	path = account
	url = git@github.com:dantyan/django-account.git
[submodule "blogs"]
	path = blogs
	url = git@github.com:dantyan/django-blogs.git
[submodule "events"]
	path = events
	url = git@github.com:dantyan/django-events.git
[submodule "forum"]
	path = forum
	url = git@github.com:dantyan/django-forum.git
[submodule "gallery"]
	path = gallery
	url = git@github.com:dantyan/django-gallery.git
[submodule "location"]
	path = location
	url = git@github.com:dantyan/django-location.git
[submodule "main"]
	path = main
	url = git@github.com:dantyan/zokiguide-main.git
[submodule "tours"]
	path = tours
	url = git@github.com:dantyan/django-tours.git
[submodule "classifieds"]
	path = classifieds
	url = git@github.com:dantyan/django-classifieds.git
