[submodule "catalog"]
	path = catalog
	url = git@github.com:dantyan/django-catalog.git
[submodule "bookmarks"]
	path = bookmarks
	url = git@github.com:dantyan/django-bookmarks.git
[submodule "common"]
	path = common
	url = git@github.com:dantyan/django-common.git
[submodule "guidebook"]
	path = guidebook
	url = git@github.com:dantyan/django-guidebook.git
[submodule "accounts"]
	path = accounts
	url = git@github.com:dantyan/django-accounts.git
[submodule "account"]
	path = account
	url = git@github.com:dantyan/django-account.git
