[submodule "catalog"]
	path = catalog
	url = git@github.com:dantyan/django-catalog.git
[submodule "bookmarks"]
	path = bookmarks
	url = git@github.com:dantyan/django-bookmarks.git
[submodule "common"]
	path = common
	url = git@github.com:dantyan/django-common.git
